<div class="container">
    <div class="header">
        <app-navbar></app-navbar>
        <app-filters></app-filters>
    </div>
    <div class="main">
        <div class="results">
            <div *ngIf="!loading && properties.length">
                <app-property *ngFor="let property of properties" [savedProperties]="savedProperties" [property]="property"></app-property>
            </div>
            <app-spinner *ngIf="loading"></app-spinner>
            <app-pagination [totalPages]="totalPages" [currentPage]="currentPage"></app-pagination>
        </div>

        <div class="map">
            <app-map></app-map>
        </div>
    </div>
</div>