.main {
  display: flex;
  height: calc(100vh - 130px);

  overflow: hidden;
}
.results {
  flex: 1;
  overflow: auto;
  padding: 30px;
}
.map {
  flex: 1.1;
  background: rgb(185, 118, 118);
}
.container {
  display: flex;
  flex-direction: column;
}
.header {
  flex-basis: 130px;
}
/* for property component */
@media only screen and (max-width: 1350px) {
  .map {
    flex: 0.7;
  }
}
@media only screen and (max-width: 1125px) {
  .map {
    display: none;
  }
  .main {
    height: auto;
  }
  .results {
    overflow: none;
  }
}
