.pagination {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__nav {
  height: 34px;
  width: 34px;
  font-size: 16px;
  color: black;
  border-radius: 50%;
  border: 0px;
  margin: 0 4px;
  background: white;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.pagination__nav:hover {
  background: rgb(238, 237, 237);
}
.pagination__nav--active {
  background: black;
  color: white;
}
.pagination__nav--active:hover {
  background: black;
  color: white;
}
