.filters {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 25px;
}
.search-container {
  max-width: 350px;
  width: 100%;
}
.filters__container {
  padding: 0 30px;
}
.filters__container form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.filters__checkbox,
.filters__radio {
  display: block;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.filters__checkbox input,
.filters__radio input {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.filters__checkbox:last-of-type .filters__radio:last-of-type {
  margin: 0;
}
.filters__controls {
  height: 50px;
  margin-top: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-top: 0.5px solid rgb(235, 235, 235) !important;
}
.filters__clear {
  font-size: 17px;
  border: 0;
  outline: 0;
  text-decoration: underline;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
  background: white;
}
.filters__clear:hover {
  background-color: #efefef;
}
.filters__save {
  font-size: 17px;
  border: 0;
  outline: 0;
  padding: 6px 15px;
  border-radius: 5px;
  color: white;
  background: black;
  cursor: pointer;
}
.filters__price-container {
  display: flex;
}
.filters__price-wrap {
  flex: 1;
  padding: 10px;
  border: 0.5px solid rgba(26, 19, 19, 0.28) !important;
  margin-right: 10px;
  border-radius: 10px;
}
.filters__price-wrap:last-of-type {
  margin-right: 0px;
}
.filters__price-wrap div {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 15px;
}

.filters__price-wrap input {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 17px;
}
.more-filters__heading {
  margin-bottom: 15px;
  font-weight: 500;
  text-decoration: underline;
}
.more-filters__container {
  max-height: 250px;
  overflow-y: scroll;
}
.more-filters__container::-webkit-scrollbar {
  width: 7px;
  border-radius: 3px;
}
.more-filters__container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}
.more-filters__container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
@media only screen and (max-width: 980px) {
  .filters {
    display: block;
    height: 140px;
  }
  .search-container {
    margin-top: 20px;
  }
  .filters__container {
    margin-top: 20px;
    padding: 0px;
  }
}
